<section class="third-block container" id="third">
  <div class="third-block__info">
    <h3 class="third-block__title">Круто, ты дошел до третьего блока</h3>
    <div class="third-block__text">
      <p>
        63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.
      </p>
      <p>Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.</p>
    </div>
  </div>
  <img class="third-block__img" src="./../../../../assets/images/third-block.png" alt="картинка третьего блока" />
</section>
