<section class="how-it-works container" id="how-it-works">
  <h2 class="how-it-works__title">Как это работает</h2>
  <ul class="how-it-works__items-list">
    @for (item of itemsList; track item.title) {
      <li class="how-it-works__item">
        <img src="assets/icons/{{ item.img }}" alt="{{ item.title }} иконка" class="how-it-works__icon" />
        <div class="how-it-works__content">
          <h6 class="how-it-works__item-title">{{ item.title }}</h6>
          <div class="how-it-works__item-text">{{ item.text }}</div>
        </div>
      </li>
    }
  </ul>
</section>
