@use 'mixins.scss' as *;
@import 'normalize.css';
@import url('./assets/font/graphik-lgg/stylesheet.css');

:root {
  --black: #191c1f;
  --dark-grey: #5e646a;
  --grey: #83898f;
  --mid-grey: #c2c8cd;
  --light-grey: #eceff2;
  --extralight-grey: #f6f8fa;
  --white: #fff;
  --red: #f13636;
  --green-success: #25cd82;
  --primary-disabled: #abcae6;
  --primary: #2a6cea;
  --primary-hover: #397dff;

  // For use with rgba
  --black-rgb: 25, 28, 31;
  --dark-gray-rgb: 94, 100, 106;
  --gray-rgb: 131, 137, 143;
  --mid-grey-rgb: 194, 200, 205;
  --light-gray-rgb: 236, 239, 242;
  --extralight-gray-rgb: 246, 248, 250;
  --white-rgb: 255, 255, 255;
  --red-rgb: 241, 54, 54;
  --green-success-rgb: 37, 205, 130;
  --primary-disabled-rgb: 171, 202, 230;
  --primary-rgb: 42, 108, 234;
  --primary-hover-rgb: 57, 125, 255;
}

* {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Graphik LCG', 'Helvetica Neue', sans-serif;
  color: var(--black);
  @include text_16;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 3.25rem;
  line-height: 4rem;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  @media (max-width: 768px) {
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin: auto;
  padding: 0 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;

  &_primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: var(--primary-hover);
        border: 1px solid var(--primary-hover);
      }
    }
    &:active {
      background-color: var(--primary-hover);
      border: 1px solid var(--primary-hover);
    }
  }

  &_light {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    color: var(--black);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: var(--white);
        border: 1px solid var(--mid-grey);
      }
    }
    &:active {
      background-color: var(--white);
      border: 1px solid var(--mid-grey);
    }
  }
}
