@import url('./assets/font/graphik-lgg/stylesheet.css');

:root {
  --black: #191c1f;
  --dark-gray: #5e646a;
  --gray: #83898f;
  --mid-grey: #c2c8cd;
  --light-gray: #eceff2;
  --extralight-gray: #f6f8fa;
  --white: #fff;
  --red: #f13636;
  --green-success: #25cd82;
  --primary-disabled: #abcae6;
  --primary: #2a6cea;
  --primary-hover: #397dff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Graphik LCG', 'Helvetica Neue', sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 3.25rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text_18 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.text_16 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.text_14 {
  font-family: 'Graphik LCG';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.text_12 {
  font-family: 'Graphik LCG';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.text_bold {
  font-weight: 600;
}
