@use '../../../mixins.scss' as *;

.accordion {
  @include text-18;
  padding: 1.5rem 0;
  border-bottom: solid 1px var(--light-grey);
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &__heading {
    font-weight: 600;
  }

  &__content {
    color: var(--dark-grey);
    transform: translateY(-1rem);
    animation: fadeIn 0.3s ease forwards;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
